{{define "subject"}}Password reset instructions - GoAuth!{{end}}
{{define "plainBody"}} 
Hello {{.name}},

A request to reset your password was submitted. 

If you did not make this request, simply ignore this email. 

If you did make this request, please visit {{.frontendURL}}/auth/password/change/{{.userID}} and input the token below as well as your new password:

{{.token}}


Please note that this is a one-time use token and it will expire in {{.expiration}} ({{.exact}}).


Thanks,

The John - GoAuth Team 

{{end}}


{{define "htmlBody"}} 
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table style="background: #ffffff; border-radius: 1rem; padding: 30px 0px">
      <tbody>
        <tr>
          <td style="padding: 0px 30px">
            <h3 style="margin-bottom: 0px; color: #000000">Hello {{.name}},</h3>
            <p>
                A request to reset your password was submitted.
            </p>
          </td>
        </tr>
        <tr>
          <td style="padding: 0px 30px">
            <p>If you did not make this request, simply ignore this email.</p>
            <p>
              If you did make this request, please visit
              <a href="{{.frontendURL}}/auth/password/change/{{.userID}}">
                {{.frontendURL}}/auth/password/change/{{.userID}}
              </a>
              and input the token below as well as your new password:
            </p>
          </td>
        </tr>

        <tr>
          <td style="padding: 10px 30px; text-align: center">
            <strong style="display: block; color: #00a856">
              One Time Password (OTP)
            </strong>
            <table style="margin: 10px 0px" width="100%">
              <tbody>
                <tr>
                  <td
                    style="
                      padding: 25px;
                      background: #faf9f5;
                      border-radius: 1rem;
                    "
                  >
                    <strong
                      style="
                        letter-spacing: 8px;
                        font-size: 24px;
                        color: #000000;
                      "
                    >
                      {{.token}}
                    </strong>
                  </td>
                </tr>
              </tbody>
            </table>
            <small style="display: block; color: #6c757d; line-height: 19px">
              <strong>
                Please note that this is a one-time use token and it will expire
                in {{.expiration}} ({{.exact}}).
              </strong>
            </small>
          </td>
        </tr>

        <tr>
          <td style="padding: 0px 30px">
            <hr style="margin: 0" />
          </td>
        </tr>
        <tr>
          <td style="padding: 30px 30px">
            <table>
              <tbody>
                <tr>
                  <td>
                    <strong>
                      Kind Regards,<br />
                      The John - GoAuth Team
                    </strong>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
{{end}}